{
    "extends": "koa",
    "parserOptions": {
        "ecmaVersion": 2017,
    },
    "plugins": [
        "security",
        "standard",
        "import",
        "node",
        "promise"
    ],
    "rules": {
        "space-before-function-paren": 0,
        "quotes": [
            "error",
            "single"
        ],
    }
}